@media all and (max-width: 992px) {
    #main-section {
        height: 50vh;
        margin-left: 0px;
        margin-right: 0px;
    }

    .title {
        display: none;
    }

    .under-title {
        display: block;
        text-transform: uppercase;
        text-align: center;
    }
}

